---
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout title="Login">
  <form id="login-form">
    <input id="identifier" type="text" placeholder="Username" />
    <input id="password" type="password" placeholder="Password" />
    <button>→</button>
    <a href="/signup">Sign up</a>
    <a href="/start" class="skip">Skip →</a>
  </form>
  <script src="../scripts/login.ts"></script>
</AuthLayout>
