---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>LoginPage</title>
    </head>
    <body>
        <div id="login-wrapper">
            <input type="email" placeholder="DHBW-Email or username" />
            <input type="password" placeholder="Password" />
            <button>→</button>
            <a href="/signup">Sign up</a>
        </div>
    </body>
</html>
