---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
  </head>
  <body>
    <script src="../scripts/logout.ts"></script>
  </body>
</html>
