---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/start.css";
import "../styles/poll-card.css";
import "../styles/poll-detail.css";
---

<BaseLayout>
  <div id="poll-detail" class="poll-detail">
    <p class="feed-loading">loading...</p>
  </div>
</BaseLayout>

<script src="../scripts/poll.ts"></script>
