---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Sign Up</title>
    </head>
    <body>
        <div id="login-wrapper">
            <input
                type="email"
                id="signup-email-input"
                placeholder="DHBW-Email"
            />
            <input type="text" id="signup-name-input" placeholder="Username" />
            <input
                type="password"
                id="signup-password-input"
                placeholder="Password"
            />
            <button>→</button>
            <a href="/login">Login</a>
        </div>
    </body>
</html>
