---

---

<button id="theme-toggle"></button>

<style is:global>
    #theme-toggle {
        position: fixed;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: var(--color-text);
        z-index: 100;
    }
</style>

<script src="../scripts/themeToggle.ts"></script>
