---
import '../styles/baseLayout.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ranq</title>
</head>
<body>
<baseHTML>
<header>
</header>
<main>
  <div class="rightBar"></div>
  <div class="scrollWrapper">
    <slot />
  </div>
  <div class="leftBar"></div>
</main>
<!-- navebar -->
<footer></footer>
</baseHTML>
</body>
</html>
