---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ranq</title>
  </head>
  <body>
    <p>ranq</p>
    <slot />
  </body>
</html>
